*{
    margin: 0;
    padding: 0;
}
.menu-icon {
    display: none;
}
/*shered style*/

.display-flex {
    display: flex;

}
.text-center{
    text-align: center;
}
.main-bg {
    background: #F7F7F7;
}
.card-body a{
    text-decoration: none; 
    line-height: 5;
    font-weight: bold;
    font-size: 16px;
}
.btn-primary{ 
    background: orange;
    color: #fff;
    padding: 13px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
}
.btn-black{ 
    background: #000;
    color: #fff;
    padding: 13px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
}
.text-one {
    color: orange;
}

.text-two {
    color: skyblue;
}
.text-three {
    color: #05D4DF;
}

.text-four {
    color: #5D58EF
}
.section-title {
    font-weight: bold;
    font-size: 3rem;
    padding: 80px 0;
}

.shadow-bg {
    background-image: url('../assets/bg.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.overly-one {
    background: linear-gradient(0deg, white, #DDF2FB);
    border: 2px solid #DDF2FB;
}
.overly-two {
    background: linear-gradient(0deg, white, #FBF1DB);
    border: 2px solid #FBF1DB;
}
.overly-three {
    background: linear-gradient(0deg, white, #ECE1FC);
    border: 2px solid #ECE1FC;
}





.navbar,
.banner,
.cariculam-bg,
.story-bg,
.footer-container
{
    max-width: 1160px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-logo h1{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 2rem;
   margin-left: 12px;
   padding-top: 30px;
}
.nav-logo img{
width: 64px;
height: 64px;
padding-top: 12px;
 }
.nav-item {
    list-style: none;
    margin-right: 1.8rem;
    text-align: center;

}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}
.banner-content {
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    margin: 122px 0;
    padding: 0 50px 0 0;
}

.banner-content h1 {
    font-weight: bold;
    font-size: 3.5rem;
    text-align: left;
    padding:0 150px 0 0;
}

.banner-content p {
    font-size: 1.25rem;
    color: #808080;
    font-weight: normal;
    padding: 24px 100px 24px 0;
}
.banner-img{
    width: 46%;
   
}


/* couriculam section */
.card-container{
justify-content: space-between;
text-align: center;
gap: 30px;
}
.card {
    padding: 36px;
    border-radius: 18px;
}

.card-img{
    width: 136px;
    height: 136px;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.card-text{
    font-weight: 500;
    font-size: 16px;
    color: #808080;
    line-height: 1.8;
}
.bottom-btn {
    padding: 80px 0;
}

.bottom-btn button {
   border-radius: 50%; 
   color: #F7F7F7;
   padding: 14px;
   background: orange;
   font-size: 18px;
   font-weight: 900;
   width: 50px;
   height: 50px;
   text-align: center;
   border: none;
}


.story-overly {

    /* background-color: linear-gradient(0deg, rgba(249, 222, 174, 0.8), rgba(249, 247, 242, 0.8)); */
    background-image: url('../assets/bg.png');
}
/* .card-container {
    margin-bottom: 200px;
} */


.card-content-left {
    max-width: 540px;
    background: #fff;
    border-radius: 16px;
    margin-bottom: 100px;
   
}
.btn-left-bg{
    background: #05D4DF;
    margin-top: -200px !important;
    margin-left: -250px;
    max-width: 175px;
    height: 47px;
    border-radius: 30px;
    border: none;
  
}
.btn-left-bg span {
    padding: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.btn-like-bg{
    background: #95B226;
    margin-top: -50px !important;
    margin-left: -60px;
    max-width: 175px;
    height: 38px;
    border-radius: 30px;
    border: none;
  ;
  
  
}
.btn-like-bg span {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 20px;
   
   
}


.single-card img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.single-card-text {
    padding: 0 30px;
}
.card-content-right {
    margin-bottom: 100px;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card-content {
    background: #fff;
    border-radius: 16px;
}

.card-content img{
    width: 100%;
    height: 177px;
    border-radius: 16px 16px 0 0;
}
.card-content h6{
padding: 28px 37px;
font-size: 16px;
font-weight: bold;
}

.story-button {
    padding-bottom: 60px;
}


.footer-container {
    justify-content: space-evenly;
    padding: 113px 2px 100px 2px
}
.footer-container h4 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 8px 0 22px;
}
.footer-content {
    max-width: 400px;
}
.footer-content img{
    width: 84px;
    height: 84px;
}
.footer-content h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #000;
    padding: 8px 0;
}
.footer-content p {
   font-weight: normal;
   font-size: 1.25rem;
   color: #808080;
   padding: 32px 0;
}
#footer {
    background: #ddd;
}
.social-item{
    list-style: none;
    margin-right: .8rem;
    text-align: center;
   
}
.footer-li-item {
    list-style: none;
    text-align: left;
    padding-bottom: 12px;
   
}
.footer-nav-link {
    text-decoration: none;
    color: #808080;
    font-weight: 500;
}
.social-item a{
text-decoration: none;

}

/* ===========================*/
/*responsive styles for small device */
/* ===========================*/

@media screen and (max-width: 576px) {
    .nav-item,
    .nav-btn,
    .card-content-left,
    .bottom-btn,
    .nav-logo-hd {
        display: none;
    }
    .navbar {
        border-bottom: 2px solid orange;
    }
    .nav-logo img,
    .menu-icon {
        display: block;
    }
    .menu-icon img {
        width: 60px;
        height: 60px;
        padding: 10px 15px;
    }
    .banner{
        flex-direction: column-reverse;
        margin-left: 10px;
    }
    .banner-img img{
        max-width: 336px;
        padding: 40px;
     
    }
    .banner-content{
        text-align: center;
        margin: 2px;
    }
    .banner-content h1{
        padding: 0 40px;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    .banner-content p{
     
        text-align: center;
        font-weight: 500;
        font-size: .9rem;
        padding: 18px 40px;
    }

    .btn-like-bg {
        margin-left: 5px;
        max-width: 175px;
        height: 32px;
        padding: 12px;
    }
    .btn-like-bg span {
        font-size: 10px;
        margin-bottom: 10px;
        
    }

    .section-title {
        font-size: 1.5rem;
        padding: 80px 0 40px;
    }
    .card-container,
    .footer-container{
        flex-direction:column ;
        padding: 0 20px;
    }
}