*{
    margin: 0;
    padding: 0;
}

/*shered style*/

.display-flex {
    display: flex;

}
.text-center{
    text-align: center;
}
.main-bg {
    background: #F7F7F7;
}
.card-body a{
    text-decoration: none;
    line-height: 5;
    font-weight: bold;
    font-size: 16px;
}
.btn-primary{ 
    background: orange;
    color: #fff;
    padding: 13px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
}
.btn-black{ 
    background: #000;
    color: #fff;
    padding: 13px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
}
.text-one {
    color: orange;
}

.text-two {
    color: skyblue;
}
.text-three {
    color: #05D4DF;
}

.text-four {
    color: #5D58EF
}
.section-title {
    font-weight: bold;
    font-size: 3rem;
    padding: 80px 0;
}

.shadow-bg {
    background-image: url('../assets/bg.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.overly-one {
    background: linear-gradient(0deg, white, #DDF2FB);
    border: 2px solid #DDF2FB;
}
.overly-two {
    background: linear-gradient(0deg, white, #FBF1DB);
    border: 2px solid #FBF1DB;
}
.overly-three {
    background: linear-gradient(0deg, white, #ECE1FC);
    border: 2px solid #ECE1FC;
}





.navbar,
.banner, 
section{
    max-width: 1160px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-logo h1{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 2rem;
   margin-left: 12px;
}
.nav-logo img{
width: 64px;
height: 64px;
padding-top: 12px;
 }
.nav-item {
    list-style: none;
    margin-right: 1.8rem;
    text-align: center;

}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}
.banner-content {
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    margin: 122px 0;
    padding: 0 50px 0 0;
}

.banner-content h1 {
    font-weight: bold;
    font-size: 3.5rem;
    text-align: left;
    padding:0 150px 0 0;
}

.banner-content p {
    font-size: 1.25rem;
    color: black;
    font-weight: normal;
    padding-right: 100px;
}
.banner-img{
    width: 46%;
   
}


/* couriculam section */
.card-container{
justify-content: space-between;
text-align: center;
gap: 30px;
}
.card {
    padding: 36px;
    border-radius: 18px;
}

.card-img{
    width: 136px;
    height: 136px;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.card-text{
    font-weight: 500;
    font-size: 16px;
    color: #808080;
    line-height: 1.8;
}
.bottom-btn {
    padding: 80px 0;
}

.bottom-btn button {
   border-radius: 50%; 
   color: #F7F7F7;
   padding: 14px;
   background: orange;
   font-size: 18px;
   font-weight: 900;
   width: 50px;
   height: 50px;
   text-align: center;
   border: none;
}


/* .story-overly {
    background-color: linear-gradient(0deg, rgba(249, 222, 174, 0.8), rgba(249, 247, 242, 0.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 222, 174, 0.8);
} */
/* .card-container {
    margin-bottom: 200px;
} */

.card-content-left {
    max-width: 540px;
    background: #fff;
    border-radius: 16px;
    margin-bottom: 100px;
   
}
.single-card img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.single-card-text {
    padding: 0 30px;
}
.card-content-right {
    margin-bottom: 100px;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card-content {
    background: #fff;
    border-radius: 16px;
}

.card-content img{
    width: 100%;
    height: 177px;
    border-radius: 16px 16px 0 0;
}
.card-content h6{
padding: 28px 37px;
font-size: 16px;
font-weight: bold;
}
